<h3>相关文章</h3>
<ul>
  {% assign current_tags = page.tags %}
  {% assign count = 0 %}
  {% for post in site.posts %}
    {% if post.url != page.url %}
      {% assign intersection = post.tags | where_exp: "tag", "current_tags contains tag" %}
      {% if intersection.size > 0 and count < 5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if count == 0 %}
    <li>暂无相关文章</li>
  {% endif %}
</ul>
