---
title: false
styles: true
---

.colorful-line {
  height: 4px;
  background: linear-gradient(to right, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  margin: 30px 0;
  border: 0;
}

/* Twikoo 自定义样式 */
#twikoo {
  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 0;
  }

  .tk-footer {
    display: none;
  }
}

@import "alembic";
